.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards{
  width: 18rem;
  background-color: black;
  margin: 10px;
  padding: 1px;
  border: silver 1px solid;
  color: white!important;
}
.card-img-top{
  width: auto!important;
  height: 10rem!important;
}
#root{
  background-color: rgb(14, 10, 10)!important
}

body{
  background-color: rgb(14, 10, 10)
}

.links{
  text-decoration: none;
  color: silver;
}
.links:hover{
  text-decoration: white;
  color: white;

}
.links:active{
  text-decoration: white;
  color: white;
  text-shadow: white 10px;
  font-weight: bold;
}

.cartero {
  margin-top: 0px;
  margin-left: -3px;
  width: 35px;
  height: 37.5px;
  background-color: white;
  border: solid 1px orange;
}

.btn{
  width: justify !important;
  height: min-content!important;
  text-size-adjust: auto!important;
}